<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pytracker</title>
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/arrow-line/dist/arrow-line.min.js"></script>
    <!-- <script src="{{ url_for('static',filename='scripts/node_modules/jsplumb/dist/js/jsplumb.js') }}"></script> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<script src="../"></script>
<body>
    <h1 class="pytracker">Pytracker</h1>
    <div id="inputeditor" class="editor">
        <div class="editor_wrapper">
            <div class="editor_body">
                <div id="editor" class="editor_code"></div>
            </div>
            <div class="editor_footer">
                <button id="codeSubmit" type="submit" class="editor_btn">Analyse</button>
            </div>
        </div>
    </div>

    <div id="output" class="visualisation_div">
        <div class="left">
            <table id="code_output" class="code_table"></table>
        </div>
        <div id="diagram" class="right">
            <div id="graph" class="grid"></div>
        </div>

    </div>

    <div class="left">
        <div id="stepbtns" class="buttons">
        </div>
    </div>

    <script src="{{ url_for('static',filename='scripts/src-min/ace.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/src-min/mode-python.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/src-min/ext-language_tools.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
</body>

</html>